// /* playing cards ratio is 2.5:3.5 */
// /* SASS variable setup */
// $card-width: 265px;
// $card-height: $card-width * 3.5 / 2.5;
// $picture-width: 100px;
// $picture-height: $picture-width * 3.5 / 2.5;
// .main {
//   width: $card-width;
//   min-width: $card-width;
//   height: $card-height;
//   perspective: 600px;
//   margin: 10px;
// }
// .card {
//   text-align: center;
//   width: 100%;
//   height: 100%;
//   position: relative;
//   transition: transform 1s;
//   transform-style: preserve-3d;
//   h3 {
//     margin-bottom: 10px;
//   }
// }

// .picture {
//   width: $picture-width;
//   height: $picture-height;
//   border: 1px solid black;
// }
// .topSection {
//   display: flex;
//   justify-content: space-around;
// }
// .description {
//   width: $picture-width;
//   height: $picture-height;
//   font-size: small;
// }

.box{
  border: 5px solid black;
  height: 350px;
  width: 250px;
  text-align: center;
  align-items: center;
  float: left;
  background-color: burlywood;
    }

.picture {
  width: 150px;
  height: 90px;
  border: 1px solid black;
}
.type{
  color:purple;
  font-weight: bold;
  
}
.description{
  font-weight: bold;
}