.box{
  border: 5px solid black;
  height: 350px;
  width: 250px;
  text-align: center;
  align-items: center;
  float: left;
  background-color: grey;
  margin-top: 20px;
    }

.picture {
  width: 150px;
  height: 90px;
  // border: 1px solid black;
}
.type{
  color:purple;
  font-weight: bold;
  
}
.description{
  font-weight: bold;
}